<form (ngSubmit)="formSubmit()" [formGroup]="infoForm">
  <label>Header Image</label><br />
  <input formControlName="headerImage" type="text" /><br />

  <label>Address</label><br />
  <input formControlName="address" type="text" /><br />

  <label>Telephone</label><br />
  <input formControlName="telephone" type="text" /><br />

  <label>From Date</label><br />
  <input formControlName="fromDate" type="date" /><br />

  <label>To Date</label><br />
  <input formControlName="toDate" type="date" /><br />

  <label>Footer Image</label><br />
  <input formControlName="footerImage" type="text" /><br />

  <label>Products file</label><br />
  <input formControlName="productFile" type="text" /><br />

  <button type="submit">Submit</button>
  <button type="button" (click)="createPdf()">Generate PDF</button>
</form>
<br />

<div #page class="page">
  <div class="headSection">
    <img
      class="headerBanner"
      src="{{ infoForm.controls['headerImage'].value }}"
    />
    <div class="info">
      <div class="infoItem">
        <img src="/assets/location.svg" />
        <div>
          <span>{{ infoForm.controls["address"].value }}</span>
        </div>
      </div>
      <div class="infoItem">
        <img src="/assets/phone.svg" />
        <div>
          <span>telephone:</span>
          <span>{{ infoForm.controls["telephone"].value }}</span>
        </div>
      </div>
      <div class="infoItem">
        <img src="/assets/calendar.svg" />
        <div>
          <span>prices valid:</span>
          <span
            >{{ infoForm.controls["fromDate"].value | date: "dd-MMMM-y" }}
            {{ infoForm.controls["toDate"].value | date: "dd-MMMM-y" }}</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="bodySection">
    <div class="product" *ngFor="let product of products">
      <img src="{{ product.image }}" />
      <span class="price">{{ product.price }}</span>
      <div class="desc">
        <span>{{ product.brand }}</span>
        <span>{{ product.desc }}</span>
        <span>{{ product.size }}</span>
      </div>
    </div>
  </div>

  <img
    *ngIf="infoForm.controls['footerImage'].value"
    class="footerBanner"
    src="{{ infoForm.controls['footerImage'].value }}"
  />
</div>
